@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;500;700&family=Poppins:wght@200;300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

p,
h1,
h2,
h3 {
  color: white;
}

a {
  text-decoration-line: underline;
  color: #34a1e5;
}

.blue-text-gradient {
  background: linear-gradient(to right, #38bdf8, #4989d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer {
  .blue-gradient {
    @apply bg-gradient-to-r from-sky-400 to-blue-400;
  }

  .input-field {
    @apply flex flex-row items-center gap-2 bg-zinc-900 rounded-md;
  }

  .input {
    @apply bg-transparent focus:outline-none;
  }
}
